@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() ?? String.Empty;
}

<a class="badge" href="https://github.com/OnlyR10/VT_Lab" target="_blank">Naydovich</a>

<div class="navbar-nav">
    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link @(controller == "home" ? "active" : "")">Лб 1</a>
    <a asp-controller="Cleaner" asp-action="Index" class="nav-item nav-link @(controller == "cleaner" ? "active" : "")">Каталог</a>
    <a asp-area="Admin" asp-page="/Index" class="nav-item nav-link">Администрирование</a>
</div>